.wkit-button,
.wkit-connected-button {

    font-size: 20px !important;
    padding: 1.2rem 1.5rem !important;

    border-radius: 0px !important;
    color: #fff !important;
    text-transform: uppercase !important;

    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
          background-size: 600%;
          -webkit-animation: anime 16s linear infinite;
        animation: anime 16s linear infinite !important;
}

.wkit-connected-button span {

    color: #fff !important;
}

.wkit-disconnect-button__container {

    border-radius: unset !important;
}

.nav {

    position: fixed;
    width: 100%;
    left: 0;
    top: 2vw;
    right: 0;
    max-width: 95vw;
    z-index: 9999999999;
    margin: 0 auto;
    box-shadow: 0 0px 36px -14px #5f4040;
    padding: 1.5rem 0;
}

.nav::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.nav__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}


.nav__logo {

    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}





@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

